<nav class="post-navi" aria-label="More essays">
  {%- if page.previous.url -%}
    <a class="post-navi__item post-navi__item--previous" href="{{ page.previous.url | relative_url }}">
      <span class="post-navi__label">← Previous essay</span>
      <span>{{ page.previous.title }}</span>
    </a>
  {%- else -%}
    <a class="post-navi__item post-navi__item--previous" href="{{ '/archive.html' | relative_url }}">
      <span class="post-navi__label">← Explore</span>
      <span>Essay archive</span>
    </a>
  {%- endif -%}

  {%- if page.next.url -%}
    <a class="post-navi__item post-navi__item--next" href="{{ page.next.url | relative_url }}">
      <span class="post-navi__label">Next essay →</span>
      <span>{{ page.next.title }}</span>
    </a>
  {%- else -%}
    <a class="post-navi__item post-navi__item--next" href="{{ '/archive.html' | relative_url }}">
      <span class="post-navi__label">Explore →</span>
      <span>Essay archive</span>
    </a>
  {%- endif -%}
</nav>
